models/
output/
gcm_ds/
train_*.py
train_0*.py
train_1*.py
train_3*.py
train_4*.py
train_50.py
train_51.py
train_52.py
train_53.py
train_60.py
train_70.py
train_71.py
train_72.py
train_73.py
train_74.py
train_80.py
train_81.py
train_82.py
train_83.py
train_84.py
__pycache__/dataread.cpython-39.pyc
__pycache__/loss_torch.cpython-39.pyc
__pycache__/scalers.cpython-39.pyc
__pycache__/srgan_torch.cpython-39.pyc
__pycache__/dataread.cpython-38.pyc
__pycache__/loss_torch.cpython-38.pyc
__pycache__/srgan_torch.cpython-38.pyc
slurm-error.txt
slurm-output.txt
dataread.py
slurm_output/slurm_output_test.err
slurm_output/slurm_output_test.out
slurm_output/slurm-error_50_mn.txt
slurm_output/slurm-error_50.txt
slurm_output/slurm-output_41.txt
slurm_output/slurm-output_50_mn.txt
slurm_output/slurm-output_50.txt
run_50_multinodes.sh
run_50.sh
run_40.sh
run_41.sh
run_test_ddp.sh
slurm_output/slurm_60-error.txt
slurm_output/slurm_60-output.txt
slurm_output/slurm_70-error.txt
slurm_output/slurm_70-output.txt
__pycache__/scalers.cpython-38.pyc
slurm_output/slurm_80-error.txt
slurm_output/slurm_80-output.txt
train_50_*.py
